[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
ipython = "*"
python-dotenv = "*"

[packages]
diem-sample-merchant-vasp = {editable=true, path="."}
setuptools = "===47.3.1"
SQLAlchemy = "*"
Flask = "*"
flasgger = "*"
requests = "*"
Werkzeug = "*"
bech32 = "*"
dramatiq = "*"
pika = "*"
redis = "*"
psycopg2-binary = "*"
pyqrcode = "*"
pypng = "*"
apispec = "*"
dataclasses-json = "*"
diem = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
