[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
ipython = "*"
python-dotenv = "*"

[packages]
setuptools = "===47.3.1"
SQLAlchemy = "*"
Flask = "*"
flasgger = "*"
requests = "*"
Werkzeug = "*"
bech32 = "*"
dramatiq = "*"
pika = "*"
redis = "*"
psycopg2-binary = "*"
pyqrcode = "*"
pypng = "*"
apispec = "*"
dataclasses-json = "*"
reference-utils = {git = "https://49decaaaf2e5c1c77eca2805117a36b3135f2c26@github.com/firstdag/reference-utils.git", editable = true, ref = "LibraMigration"}
client-python-sdk = {git = "https://49decaaaf2e5c1c77eca2805117a36b3135f2c26@github.com/libra/client-sdk-python.git", editable = true, ref = "diem-migration"}
libra-offchainreference = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
