.pay-with-diem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay-with-diem h1 {
  margin: 0;
  font-weight: lighter;
}

.pay-with-diem .payment-options {
  display: flex;
}

.pay-with-diem .payment-options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.pay-with-diem canvas {
  margin: 1rem 0;
}

.pay-with-diem .pay {
  color: white;
  padding: 0.5rem 1rem;
  background: #6720df;
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.pay-with-diem .pay:hover {
  background: #5d00ff;
  box-shadow: none;
}
